html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 66.5%;
    background-color: #E9ECEF;
}

.header {
    flex: 0 0 20%;
    width: 100%;
    position: relative;

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &--main {
            font-size: 3rem;
            margin: 0;
        }

        &--subtext {
            font-size: 1rem;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    // align-items: center;
    flex: 0 0 70%;
    width: 60%;
    background-color: #DEE2E6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;

    svg {
        width: 1.2rem;
        height: 1.2rem;
        transition: all .2s;
    }

    button {

        border: none;
        background-color: white;
        // border-radius: 50%;

        .check:hover{
            fill: green;
            cursor: pointer;
        }

        .edit:hover {
            fill: yellow;
            cursor: pointer;
        }

        .delete:hover {
            fill:red;
            cursor: pointer;
        }

        .submit:hover {
            fill: green;
            cursor: pointer;
        }

        .cross:hover {
            fill: orange;
            cursor: pointer;
        }
    }
}